$primary-color: rgb(116, 252, 6);
$secondary-color: #ffffff;
$tertiary-color: #434854;
$text-color1: rgb(116, 252, 6);
$text-color2: #f8f8f8;
$text-color3: #333333;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito+Sans:wght@200;300&family=Quicksand:wght@500;600&display=swap');